body {
    font-family: Arial;
}

h1 {
    text-align: center;
}

img {
    width: 500px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    
}

p {
    color: black;
    word-wrap: break-word;
    width: 500px;
    padding: 5px;
}

.flex-item {
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
    border: 12px solid black;
}

svg {
    width: 200px;
    height: 200px;
}

rect {
    width: 150px;
    height: 150px;
    fill: #f33;
}

rect:hover {
    fill: #000;
}

circle {
    fill: #a245;
    width: 100;
}

circle:hover {
    fill: greenyellow
}

#shapes {
    margin-top: 16px;
}